<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a Fun Flag</title>
</head>
<body>
<h1>Add a Fun Flag</h1>

<form th:action="@{/add}" method="post" th:object="${f}" >
    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <br><br>
    <label for="fileName">File Name:</label>
    <input type="text" id="fileName" name="fileName">
    <br> <br>
    <input type="submit" value="Add Flag">
</form>


</body>
</html>